@model AddImageRequest

<form method="post" enctype="multipart/form-data" action="/Media/AddImage">
    <div class="container illustre-container mb-3">
        <div class="row illustre-row">
            <div class="col-3 illustre-col">
                <div class="illustre-input-group-item-left illustre-input-group-image-container-left" id="illustre-image-preview"></div>
            </div>
            <div class="col-7 illustre-col illustre-grayscale">
                <div class="container illustre-container">
                    <div class="row illustre-row">
                        <div class="input-group illustre-input-group">
                            <input type="text" class="form-control illustre-input-group-item-inside illustre-input-group-item-no-bottom-border" asp-for="Title" placeholder="title" value="@Model.Title">
                        </div>
                    </div>
                    <div class="row illustre-row">
                        <div class="input-group illustre-input-group">
                            <input type="file" class="form-control illustre-input-group-item-inside" asp-for="@Model.File" id="illustre-image-file">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 illustre-col illustre-grayscale">
                <button type="submit" class="btn btn-outline-dark illustre-input-group-item-right">Add Image</button>
            </div>
        </div>
    </div>
</form>
