html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.dropdown-item {
    background-color: white;
}

.illustre-form {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.illustre-checkbox-label {
    padding-left: 0.375rem;
}

.illustre-grayscale {
    filter: grayscale(1);
}

.illustre-navbar-text {
    margin: auto;
    text-decoration: none;
}

.illustre-pagination {
    bottom: 0;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}