@model ISearchable

<form method="get" action="@Model.Action">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="SearchPattern" placeholder="search" value="@Model.SearchPattern">
        <button type="submit" class="btn btn-outline-dark">Search</button>
    </div>
</form>
