@model IManageEntitiesModel

<div class="row g-1">
    <div class="col-6 d-grid">
        <center>
            <p class="lead">
                Total: @Model.Total
                </p>
        </center>
    </div>
    <div class="col-6 d-grid">
        <center>
            <p class="lead">
                Selected: @Model.Selected
            </p>
        </center>

    </div>
</div>
