@{
    ViewData["Title"] = "Main Page";
}

<div class="illustre-form illustre-grayscale">
    <div class="row g-1">
        <div class="col-12 d-grid">
            <a role="button" class="btn btn-dark" asp-controller="Account" asp-action="ManageEditors" asp-route-isFirstAttempt="true">Manage Editors</a>
        </div>
        <div class="col-12 d-grid">
            <a role="button" class="btn btn-dark" asp-controller="Account" asp-action="ManageUsers" asp-route-isFirstAttempt="true">Manage Users</a>
        </div>
        <div class="col-12 d-grid">
            <a role="button" class="btn btn-dark" asp-controller="Media" asp-action="ManageTags" asp-route-isFirstAttempt="true">Manage Tags</a>
        </div>
        <div class="col-12 d-grid">
            <a role="button" class="btn btn-dark" asp-controller="Media" asp-action="ManageImages" asp-route-isFirstAttempt="true">Manage Images</a>
        </div>
    </div>
</div>
