@model EditTagsRequest

@{
    ViewData["Title"] = "Edit Tags";

    if (Model is not null)
    {
        Model.ErrorMessage = "An error occured while editing or creating a tag.";
        Model.Action = "/Media/EditTags";
    }
}

<div class="illustre-form illustre-grayscale">
    @{
        @await Html.PartialAsync("~/Views/Shared/_ErrorMessage.cshtml", Model)

        @await Html.PartialAsync("~/Views/Shared/_Search.cshtml", Model)
        
        @await Html.PartialAsync("~/Views/Media/Partial/_AddTag.cshtml",
                                 new AddTagRequest()
                                 {
                                     Action = Model!.Action,
                                 })
        
        if (Model.TagsData is not null)
        {
            foreach (var tagItem in Model.TagsData.Models)
            {
                @await Html.PartialAsync("~/Views/Media/Partial/_EditTagById.cshtml", tagItem)
            }
        }
    }
</div>

@await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml",
                         new PaginationModel()
                         {
                             Total = Model.TagsData?.Total,
                             Skip = Model.Skip,
                             AspController = "Media",
                             AspAction = "EditTags",
                         })
