<div id="illustre-show-image-container">
    <div id="illustre-show-image" style='background-image:url("https://uploads0.wikiart.org/00339/images/leonardo-da-vinci/mona-lisa-c-1503-1519.jpg"); background-position: center; background-size: cover;'>
        <div style="backdrop-filter: blur(1.5rem); width: 100%; height: 100%;"></div>
    </div>
    <div class="illustre-side-form illustre-grayscale" style="background-color: red;">
        2
    </div>
</div>
