@model SignUpRequest

@{
    ViewData["Title"] = "Account";

    if (Model is not null)
    {
        Model.ErrorMessage = "Email is already used.";
    }
}

<form method="post" action="/Account/UpdateAccount">
    <div class="container illustre-form">
        <div class="row g-1">
            @await Html.PartialAsync("~/Views/Shared/_ErrorMessage.cshtml", Model)
            <div class="col-12">
                <input type="email" class="form-control" id="email" placeholder="email" asp-for="Email" value="@Model?.Email"/>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" id="username" placeholder="username" asp-for="Username" value="@Model?.Username"/>
            </div>
            <div class="col-12">
                <input type="password" class="form-control" id="password" placeholder="password" asp-for="Password"/>
            </div>
            <div class="col-12 d-grid">
                <button type="submit" class="btn btn-outline-dark">Save</button>
            </div>
        </div>
    </div>
</form>
