@model SignInRequest

@{
    ViewData["Title"] = "Index";
}

<form method="post" action="/Account/SignIn">
    <div class="container illustre-form">
        <div class="row g-1">
            @{
                if (Model != null && !Model.IsFirstAttempt)
                {
                    <div class="col-12 alert alert-light alert-dismissible fade show" role="alert">
                        <span>User wasn't found.</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            }
            <div class="col-12">
                <input type="email" class="form-control" id="email" placeholder="email" asp-for="Email"/>
            </div>
            <div class="col-12">
                <input type="password" class="form-control" id="password" placeholder="password" asp-for="Password"/>
            </div>
            <div class="col-6 d-grid">
                <a role="button" class="btn btn-dark" asp-action="SignUp">Sign Up</a>
            </div>
            <div class="col-6 d-grid">
                <button type="submit" class="btn btn-dark">Sign In</button>
            </div>
        </div>
    </div>
</form>
