@model ManageAccountsRequest

@{
    ViewData["Title"] = "Manage Editors";
}

<div class="illustre-form illustre-grayscale">
    @{
        if (!Model.IsFirstAttempt)
        {
            <div class="col-12 alert alert-light alert-dismissible fade show" role="alert">
                <span>An error occured while editing or creating an account.</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            Model.IsFirstAttempt = true;
        }

        <form method="get" action="/Account/ManageEditors">
            <div class="input-group mb-3">
                <input type="text" class="form-control" asp-for="SearchPattern" placeholder="search" value="@Model.SearchPattern">
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </div>
        </form>
        
        @await Html.PartialAsync("~/Views/Account/Partial/_AddAccount.cshtml",
                                new AddAccountRequest()
                                {
                                    Role = Role.Editor,
                                });
        
        if (Model.AccountsData is not null)
        {
            foreach (var accountItem in Model.AccountsData.Models)
            {
                @await Html.PartialAsync("~/Views/Account/Partial/_UpdateAccountById.cshtml", accountItem)
            }
        }
    }
</div>

@await Html.PartialAsync("~/Views/Shared/_Pagination.cshtml",
                         new PaginationModel()
                         {
                             Total = Model.AccountsData?.Total,
                             Skip = Model.Skip,
                             AspController = "Account",
                             AspAction = "ManageEditors",
                         })
