@model SignUpRequest
@{
    ViewData["Title"] = "Registration";
}

<form method="post" action="/Account/Register">
    <div class="container illustre-form">
        <div class="row g-1">
            @{
                if (Model != null && !Model.IsFirstAttempt)
                {
                    <div class="col-12 alert alert-light alert-dismissible fade show" role="alert">
                        <span>Email is already used.</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    Model.IsFirstAttempt = true;
                }
            }
            <div class="col-12">
                <input type="email" class="form-control" id="email" placeholder="email" asp-for="Email"/>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" id="username" placeholder="username" asp-for="Username"/>
            </div>
            <div class="col-12">
                <input type="password" class="form-control" id="password" placeholder="password" asp-for="Password"/>
            </div>
            <div class="col-12 d-grid">
                <button type="submit" class="btn btn-outline-dark">Sign Up</button>
            </div>
        </div>
    </div>
</form>
